
body, html {
  font-family:  Helvetica, arial, sans-serif;
  background-image: url("LandingPageBG.jpg");
  position: center;
  /* height: auto;
  width:auto; */
  background-size:100% 100%;
  font-family: "Gemunu Libre", sans-serif;
  background-repeat: no-repeat;
  /* overflow-y: hidden;  */
  overflow-x: hidden;

}


.logo{
  height: auto; 
  width: auto; 
  max-width: 500px; 
  flex: auto;
  margin:0;
  margin-top:18%;
  position:absolute;
  margin-left:50px;

}
.comingSoon{
  font-size: 35px;
  color: #de2302;
}

.description{
  margin: 80px;
  position: relative;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 20px;
  color: #de2302;
  text-align-last: right;
}

.contactus{
position: relative;
margin-left: 45%;
margin-bottom:15%;
font-family: "Gemunu Libre", sans-serif;
font-size: 22.5px;
border-radius: 25px;
}

.whoWeAre{
  font-size: 22.5px;
  color:#204B57;
}




/* Laptop */
@media screen and (max-width: 992px) {
  body, html {
    background-image: url("landingPageMediumLarge.jpg");
  }
  .comingSoon{
    font-size: 30px;
    color: #de2302;
  }
  .logo{
    max-width: 400px;
    margin-top:0.5%;
  }
  }
  
  /* tablet */
@media screen and (max-width: 768px) {
  body, html {
    background-image: url("landingPageMedium.jpg");
  }
  .comingSoon{
    font-size: 25px;
    color: #de2302;
  }
  .logo{
    max-width: 300px;
    margin-top:0.5%; 
  }
  }

    /* phone */
@media screen and (max-width: 576px) {
  body, html {
    background-image: url("landingPageSmall.jpg");
  }
  .comingSoon{
    font-size: 20px;
    color: #de2302;
    margin-top: 150px;
  }
  .logo{
    max-width: 250px; 
    margin-top:0.5%;
  }
  .description{
    margin: 80px; 
    font-size: 15px;
    color: #de2302;
    text-align-last: right;
    
  }
  }