
body, html {
  font-family:  Helvetica, arial, sans-serif;
  margin: 0;
  background-image: url("LandingPageBG.jpg");
  width: auto;
  position: center;
  height: auto;
  background-size: cover;
  height: 100%;
  font-family: "Gemunu Libre", sans-serif;
}
/* 
  The header bar*/
header{

  height: 50px;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  

}


.comingSoon{
  margin: 50px;
  position: relative;
  top: 60%;
  left:30px;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 30px;
  color: #de2302;

}
/* The text in the header*/
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  font-size: 30px;
  margin: 5px;
  
}


/* the left nav bar text */
nav a {
  color: #444040;
  font-weight: bold;
  text-decoration: none;
  padding:10px;
  font-size: medium;
}


/* The right nav bar text - my name*/
h1 {
  font-weight: bolder;
  font-stretch: expanded;
  padding: 7px;
  font-size: 200%;
  font-family: sans-serif;

}






/* small smartphones */
@media screen and (max-width: 450px) {
  #bioImage {
    height: 100px;
    width: 100px;
  }

  .mainbio{
    display: block;

  }
  
}

/* Large smartphones */
@media screen and (max-width: 540px) {
  #bioImage {
    height: 100px;
    width: 100px;
  }
  .mainBio{
    display: inline-block;
  }
  h1 {
    font-weight: bolder;
    font-stretch: expanded;
    padding: 7px;
    font-size: 140%;
    font-family: sans-serif;
  
  }
  }

/* tablet size  */
@media screen and (max-width: 768px) {
    #bioImage {
      height: 150px;
      width: 150px;
  }
}